*
{
    margin: 0;
    padding: 0; 
}
/*--------Navigation-------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*-----Slider------*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: white;
    font-size: 60px;
}

/*------home------*/ 
#home
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
#home .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.home-content
{
    padding-top: 15px;
}
/*------About Me-------*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/backgroundphoto.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;   
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
/*------- Team Members (PROJECTS)------*/
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

/*-----*/
#team h1
{
    text-align: ;
    color: #black !important;
    padding-bottom: 10px;
}
#team h1::after
{
    content: '';
    background: #blue;
    display: block;
    height: 5px;
    width: 170px;
    margin: 20px auto 5px;
}
.team
{
    margin-top: 40px;
}
#team p
{
    font-size: 16px;
    margin-top: 20px;
    color: #black;
}
/*-----Testimonails-----*/
#testimonials
{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/backgroundphoto.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 7px;
}
#testimonials h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.testimonials
{
    margin-top: 30px;
}
#testimonials h3
{
    padding-top: 15px;
}
#testimonials p
{
    font-size: 20px;
    margin-top: 10px;
    color: #ccc;
    padding-bottom: 10px;
}

/*-------Get in Touch-----*/
#contact
{
    background:#efefef;
    padding-top:40px;
    padding-bottom:40px;
    color:#777;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #blue !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa
{
    margin: 10px;
    color: dodgerblue;
    font-weight: bold;   
}
/*------Footer-----*/
#footer
{
    background: #333;
    color: #fff;
    padding: 12px;
}

